<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'UNIBOOKS', listings_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <button type="button" class="btn btn-outline-secondary">
  Inbox <span class="badge badge-light">4</span>
</button>
     <%= link_to 'Categories', categories_path, class: "nav-link" %>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">History</a>
          <a class="dropdown-item" href="#">Literature</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Latin</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">My Listings </a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">My Orders </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Help</a>
          <a class="dropdown-item" href="#">Manage password</a>
          <%= link_to 'My Account', edit_user_registration_path, class: "nav-link" %>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Log Off</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="title, author, ISBN, category" aria-label="Search">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>