<h1> UNIBOOKS </h1>
<div class = "search_bar_container">

<div class="jumbotron">
  <h1>Welcome! </h1>
  <p> browse for new and second hand textbooks, reference and academic texts. Navigate by category or search</p>
  <p><a class="btn btn-info btn-lg" href="#" role="button">Sign up!</a></p>
   <form class="search-bar">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search by: title, author, ISBN, category">
        </div>
        <button type="submit" class="btn btn-outline-info my-2 my-sm-0">Search</button>
      </form>
      </div>

</div>


