<h1>Search Results </h1>
 

</div>
<div class= "container" >
  <div class="row">
      <% @listings.each do |listing| %>
        <% @listing = listing %>
        <%= render partial: 'listings/listings_cards', listing: @listing %>  
    <% end %>
  </div>
</div>

