<h1>Editing Category</h1>

<%= render 'form', category: @category %>

   <% if can? :destroy, @category %>
            <td><%= link_to 'Destroy', @category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>

          <% end %>

<%= link_to 'Back', categories_path %>

